body {
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.header_sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 300px;
  background-color: red;
  display: flex;
}

.nav_bar {
  background-color: orange;
  width: 100%;
  height: 100px;
  display: flex;
  color: white;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.home {
  width: 100%;
  height: 250px;
  background-color: chartreuse;
}

.skills {
  width: 100%;
  height: 250px;
  background-color: azure;
}
.about_me {
  width: 100%;

  background-color: rgb(240, 228, 211);
}

.about_me img {
  width: 300px;
}
.projects {
  width: 100%;
  height: 250px;
  background-color: pink;
}
.contact {
  width: 100%;
  height: 250px;
  background-color: violet;
}
